<!DOCTYPE html>
<html lang="en">
<%- include('./header.ejs') %>
<%- include('./navbar.ejs') %>
 <!-- Target in app.js for body content -->

  <%- include('./partials/menu.ejs') %>
  <div class="bodyContent  z-50"></div>
 </div>
 <!-- Target in app.js for bottom cart content -->
 <div class="cartElement  z-50"></div>
 <!-- Target in app.js for bottom status bar -->
 <div class="bottomBar"></div>
 <%- include('./cart.ejs') %>
 <%- include('./footer.ejs') %>
</html>
